@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary: #a9d788;
  --color-secondary: #E26228; 
  --color-accent: #c43a1c;
  --color-neutral: #000000;
  
  --font-family-azeret: "Azeret Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-style: normal;
}